/*.square{
    background-color:red;
    width:50px;
    height:50px;
}
.circle{
    background-color:green;
    width:50px;
    height:50px;
    border-radius:50%;
}*/
.square{
    text-align:left;
    margin-left:30px;
    padding-left:30px;
    top:100px;
    width:300px;
    height:100px;
    right:50px;
    background-color:rgba(255, 255, 255, 0.945);
    border: 1px solid black;
}
/*.rectangle{
    
    margin-left: 20px;
    padding-left:20px;
    background-color: rgb(83, 80, 80);
    width:350px;
    height:130px;
}
p{
   padding-top:10px;
    color:rgba(255, 255, 255, 0.952);
    text-align:left;
    font-style: Arial;
}*/
.rectangle{
   display:grid;
    background-color: rgb(247, 246, 246);
    border-radius:10px;
    align-items:center;
    column-gap:5px;
    grid-template-columns:1fr 1fr 2fr;
    padding-left:10px;
}
img
{
    border-radius:50%;
    max-width :70%;
    max-height:70%;   
    float:right;
}
p{
    
 float:center;
    text-align:left;
    font-size:30px;
    padding-top:30px;

}
button{
    top:50px;
    float:right;
    color:white;
    border-radius:22px;
    border-color:blue;
    background-color:blue;
    width:70px;
    height:40px;
    
    
}


    
    
