*,
*::before,
*::after
{
box-sizing:border-box;
}

body{
    height:100vh;
    margin:0;
    background: #DEDEDE;
    color:#5a6674;
    overflow:hidden;
    text-align:center;
    
}
 
.search
{
    position:absolute;
    top:50px;
    left: 500px;
    right:500px;
    width:400px;
    height:30px;
    background-color: white;
    border-radius:15px;
    box-shadow:5px 5px  5px #aaaaaa;
}
.search-input {
    padding:absolute;
  width:200px;
  border:none;
  height:30px;
  font-size:15px;
  top:10px;
  left:38px;
  appearance:none;
  font-size:14px;
  font-family:'Roboto',sans-serif;
}
